@using BlazorShared.Contracts.V1
@inject ConversationService ConversationService
@inject EventBus EventBus
@attribute [Authorize]

<style>
    .conversation_container {
        width: 85%;
        margin: auto
    }

    .message_box {
        position: fixed;
        bottom: 0;
        padding: 8px 0px;
        background-color: white;
        width: 100%;
        max-width: inherit;
    }

    .conversation_header {
        border-bottom: 1px solid black;
        padding-bottom: 8px;
    }
</style>



<div>
    <h1 class="conversation_header">@conversation.Name</h1>
    <div class="conversation_container">
        <div class="messages-panel">
            <Virtualize TItem="DirectMessageDTO" Items="conversation.Messages">
                <ItemContent>
                    <MessageComponent Message="context"></MessageComponent>
                </ItemContent>
                <Placeholder>
                    <p>
                        Please wait.
                    </p>
                </Placeholder>
            </Virtualize>
        </div>


        @if (!maxPage && ConversationId != 0)
        {
            <button type="button" class="btn btn-primary px-3 py-2 mb-3" @onclick="@GetNextPage">Download more</button>
        }
        else if (ConversationId != 0)
        {
            <p>You reached the end of data</p>
        }

        @if (conversation.Id > 0)
        {
            <article class="message_box">
                <SendDirectMessageComponent ConversationId="ConversationId" MessageSentEvent="@MessageSent"></SendDirectMessageComponent>
            </article>
        }
    </div>
</div>

@code {

    [Parameter]
    public long ConversationId { get; set; }

    [Parameter]
    public EventCallback<DirectMessageDTO> NewMessageAppered { get; set; }

    ConversationDTO conversation { get; set; } = new() { Name = "", Messages = new List<DirectMessageDTO>() };
    int pageNum = 1;
    int pageSize = 5;
    bool maxPage = false;

    protected override void OnInitialized()
    {
        EventBus.NewDirectMessage += NewMessageAppeared;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (ConversationId == conversation.Id || ConversationId == 0)
            return;

        conversation = await ConversationService.GetConversation(ConversationId) ?? new() { Name = "", Messages = new List<DirectMessageDTO>() };
        var resp = (await ConversationService.GetMessagesForConversation(conversation.Id, pageSize, pageNum)).ToList();
        conversation.Messages = resp;

        if (!conversation.Messages.Any())
            maxPage = true;
    }

    void NewMessageAppeared(DirectMessageDTO directMessageDto)
    {
        if (directMessageDto.ConversationId != ConversationId)
            return;

        conversation.Messages.Add(directMessageDto);
        conversation.Messages = conversation.Messages.OrderByDescending(x => x.CreationDate).ToList();
    }

    void MessageSent(DirectMessageDTO directMessageDto)
    {
        //conversation.Messages.Add(directMessageDto);
        //conversation.Messages = conversation.Messages.OrderByDescending(x => x.CreationDate).ToList();
        //_ = NewMessageAppered.InvokeAsync(directMessageDto);
        //StateHasChanged();
    }

    private async Task GetNextPage()
    {
        pageNum++;
        var resp = (await ConversationService.GetMessagesForConversation(conversation.Id, pageNum, pageSize)).ToList();
        if (resp is null || !resp.Any())
        {
            maxPage = true;
            return;
        }
        if (resp.Count() < pageSize)
            maxPage = true;

        resp.ForEach(x => conversation.Messages.Add(x));
    }

}