@using BlazorShared.Contracts.V1
@typeparam T where T : CreateMessageModel, new()

<style>
    .form-group-main{
    margin-bottom: 12px;
    }
    
    .form-control-main{
    margin-top: 8px;
    }
</style>

<EditForm Model="messageModel" OnValidSubmit="SendExecute">
    <DataAnnotationsValidator/>
    
    <div class="form-group form-group-main">
        <label for="content">Content</label>
        <InputTextArea id="content" class="form-control form-control-main" placeholder="Start typing here..." @bind-Value="messageModel.Content"></InputTextArea>
        <ValidationMessage For="@(() => messageModel.Content)"/>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</EditForm>

@code {

    [Parameter]
    public UserDTO? Recipient { get; set; } = new() { Id = -1, Username = "ALL" };
    [Parameter]
    public EventCallback<T> MessageSentEvent { get; set; }

    private T messageModel = new();

    private async Task SendExecute()
    {
        await MessageSentEvent.InvokeAsync(messageModel);
        messageModel = new();
    }
}