@using BlazorShared.Contracts.V1
@inject AuthenticationStateProvider AuthStateProvider

<style>
    .message-owner{
        background-color: #005aff;
        color: #fff;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 40%;
        min-width: 320px;
        margin: 20px 0;
        animation: fadeInUp 0.5s ease;
        margin-left: auto;
        margin-right: 0;
    }

    .message {
        background-color: #007bff;
        color: #fff;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 40%;
        min-width: 320px;
        margin: 20px 0;
        animation: fadeInUp 0.5s ease;
    }
    
    .author {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .date {
        font-size: 14px;
        margin-bottom: 5px;
        border-bottom: 1px white solid;
    }
    
    .content {
        font-size: 16px;
        line-height: 1.5;
    }
    
    @@keyframes fadeInUp {
         from {
             transform: translateY(30px);
             opacity: 0;
         }
         to {
             transform: translateY(0);
             opacity: 1;
         }
     }
    
    .message:hover {
        transform: scale(1.04) translateZ(0);
        transition: transform 0.2s ease-in-out;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
</style>

<article class=@($"{className} col-sm-12 col-md-12 col-lg-6")>
    <div class="author">@Message.CreatedBy</div>
    <div class="date">@Message.CreationDate.LocalDateTime</div>
    <div class="content">@Message.Content</div>
</article>

@code {

    [Parameter]
    public MessageDTO Message { get; set; }

    private string className;

    protected override async Task OnInitializedAsync()
    {
        await RefreshMessagesClass();
        AuthStateProvider.AuthenticationStateChanged += AuthenticationStateChanged;
    }

    private void AuthenticationStateChanged(Task<AuthenticationState> authState)
    {
        _ = RefreshMessagesClass();
    }

    private async Task RefreshMessagesClass()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var currUsername = authState.User.Identity?.Name ?? string.Empty;
        className = string.Equals(Message.CreatedBy, currUsername, StringComparison.InvariantCultureIgnoreCase)
                        ? "message-owner" : "message";
        StateHasChanged();
    }
}