@using BlazorShared.Contracts.V1.DTO
@inject UserService UserService
@inject ConversationService ConversationService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<EditForm Model="searchUserByUsernameModel">
    <DataAnnotationsValidator />

    <div class="row">
        <InputText id="recipient" class="col-sm-12" style="padding: 8px 16px;" autocomplete="off" placeholder="Username..."
        @bind-Value="@searchUserByUsernameModel.Username" @onkeyup="@SearchExecute">
        </InputText>
    </div>
</EditForm>
<Virtualize TItem="SearchByUsernameRecord" Items="searchByUsernameRecords">
    <ItemContent>
        <li class="list-group-item" @onclick="@(() => CreateConversation(context))">
            @context.Username
        </li>
    </ItemContent>
</Virtualize>

@code {
    SerachUserByUsernameModel searchUserByUsernameModel = new();
    ICollection<SearchByUsernameRecord> searchByUsernameRecords = new List<SearchByUsernameRecord>();

    private void UpdateUsername(ChangeEventArgs e)
    {
        searchUserByUsernameModel.Username = e.Value?.ToString() ?? string.Empty;
    }

    private async Task SearchExecute(KeyboardEventArgs e)
    {
        Console.WriteLine(e.Code);
        if ((e.Code != "Enter" && e.Code != "NumpadEnter") || searchUserByUsernameModel.Username.Length < 3)
            return;

        var result = await UserService.GetUsersStartingWith(searchUserByUsernameModel);

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        searchByUsernameRecords = result.Where(x => 
            !string.Equals(x.Username, authState.User.Identity?.Name, StringComparison.InvariantCultureIgnoreCase)).ToList();
    }

    private async Task CreateConversation(SearchByUsernameRecord selectedUser)
    {
        var result = await ConversationService.CreateConversation(
            new CreateConversationModel() { ParticipantId = selectedUser.Id, Name = selectedUser.Username }
            );

        NavigationManager.NavigateTo($"/conversations/{result.Id}");
    }

}