@using BlazorShared.Contracts.V1
@inject PublicMessageService PublicMessageService

<MessageInputComponent @ref="messageInputComponent" T="CreatePublicMessageModel" MessageSentEvent="@OnMessageSent"></MessageInputComponent>

@code {
    [Parameter]
    public long? ResponseToId { get; set; }
    
    MessageInputComponent<CreatePublicMessageModel>? messageInputComponent;
    public event Action<PublicMessageDTO> MessageSentEvent;
    
    private void OnMessageSent(CreateMessageModel messageModel)
    {
        CreatePublicMessageModel toSend = (CreatePublicMessageModel)messageModel;

        toSend.ResponseToId = ResponseToId;
        Task.Run(async () =>
        {
            var inserted = await PublicMessageService.SendAMessage(toSend);
            MessageSentEvent?.Invoke(inserted);
        });
    }
}