@using BlazorShared.Contracts.V1
@inject DirectMessageService DirectMessagesService

<MessageInputComponent @ref="messageInputComponent" T="CreateDirectMessageModel" MessageSentEvent="@OnMessageSent"></MessageInputComponent>

@code {
    [Parameter]
    public long ConversationId { get; set; }
    [Parameter]
    public EventCallback<DirectMessageDTO> MessageSentEvent { get; set; }
    
    MessageInputComponent<CreateDirectMessageModel>? messageInputComponent;

    private void OnMessageSent(CreateMessageModel messageModel)
    {
        CreateDirectMessageModel toSend = (CreateDirectMessageModel)messageModel;

        toSend.ConversationId = ConversationId;
        Task.Run(async () =>
        {
            var resp = await DirectMessagesService.SendAMessage(toSend);
            await MessageSentEvent.InvokeAsync(resp);
        });
    }
}