﻿@using BlazorShared.Contracts.V1.DTO;
@using BlazorShared.Converters;
@using Blazored.SessionStorage;
@inject UserSessionService UserSessionService
@inject ISessionStorageService sessionStorage

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ip</th>
                <th scope="col">Type</th>
                <th scope="col">Region</th>
                <th scope="col">Country</th>
                <th scope="col">Continent</th>
                <th scope="col">Creation date</th>
                <th scope="col">Expiration date</th>
                <th scope="col">Expiration date</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize TItem="UserSessionDTO" Items="userSessions">
                <ItemContent>
                    <tr>
                        <th scope="row">@(userSessions.IndexOf(context) + 1)</th>
                        <td>@iPConverter.GetIPFromInt(context.Ip).ToString()</td>
                        <td>@context.TokenType</td>
                        <td>@context.Region</td>
                        <td>@context.Country</td>
                        <td>@context.Continent</td>
                        <td>@context.CreationDate.LocalDateTime</td>
                        <td>@context.ExpirationDate.LocalDateTime</td>
                        <td>
                            @if (context.Token != currentToken)
                            {
                                <button type="button" class="btn btn-danger" @onclick="() => Delete(context)">
                                    Delete
                                </button>
                            }
                            else
                            {
                                <div>Current session</div>
                            }
                        </td>
                    </tr>
                </ItemContent>
                <Placeholder>
                    <p>
                        Please wait.
                    </p>
                </Placeholder>
            </Virtualize>
        </tbody>
    </table>
</div>

@if (!maxPage)
{
    <button type="button" class="btn btn-primary px-3 py-2 mb-3" @onclick="@GetNextPage">Download more</button>
}
else
{
    <p>You reached the end of data</p>
}

@code
{
    public List<UserSessionDTO> userSessions = new();
    IPConverter iPConverter = new();
    int pageNum = 1;
    int pageSize = 5;
    bool maxPage = false;
    string currentToken = "";

    protected override async Task OnInitializedAsync()
    {
        currentToken = await sessionStorage.GetItemAsStringAsync(SessionStorageItems.RefreshToken);
        userSessions = (await UserSessionService.GetSessions(pageSize, pageNum)).ToList();
    }

    private async Task Delete(UserSessionDTO session)
    {
        await UserSessionService.DeleteSession(session.Token);
        userSessions.Remove(session);
    }

    private async Task GetNextPage()
    {
        pageNum++;
        var resp = (await UserSessionService.GetSessions(pageSize, pageNum)).ToList();
        if (resp is null || !resp.Any())
        {
            maxPage = true;
            return;
        }
        if (resp.Count() < pageSize)
            maxPage = true;

        resp.ForEach(x => userSessions.Add(x));
        StateHasChanged();
    }
}
