﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject AuthService AuthService;

<style>
    .user_details:hover{
        text-decoration: underline #0a53be;
        color: #0a53be!important;
    }
</style>

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link text-dark user_details" href="/user/details">
            Welcome @context.User.Identity?.Name!
        </NavLink>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <LoginPage Inline="true"></LoginPage>
        <a href="authentication/register" style="margin-left: 16px">Sign up</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task BeginLogOut()
    {
        await AuthService.Logout();
        Navigation.NavigateTo("authentication/login");
    }

}