﻿@inherits LayoutComponentBase

@using Blazored.SessionStorage
@implements IDisposable
@inject AlertService AlertService
@inject NavigationManager NavigationManager

<header>
    <NavMenu/>
</header>

<main>
    <article class="content px-4">
        @if (showErrorAlert)
        {
            <div class="alert alert-danger container-md" role="alert">
                @errorMessage
            </div>
        }
        @if (showInfoAlert)
        {
            <div class="alert alert-info container-md" role="alert">
                @infoMessage
            </div>
        }
        @if (showSuccessAlert)
        {
            <div class="alert alert-success container-md" role="alert">
                @successMessage
            </div>
        }

        @Body
    </article>
</main>


@code
{
    bool showErrorAlert = false;
    bool showInfoAlert = false;
    bool showSuccessAlert = false;
    string errorMessage;
    string infoMessage;
    string successMessage;

    protected override void OnInitialized()
    {
        AlertService.ShowAlertEvent += ShowAlert;
        AlertService.HideAlertEvent += HideAlert;
        NavigationManager.LocationChanged += LocationChanged;
    }

    public void Dispose()
    {
        AlertService.ShowAlertEvent -= ShowAlert;
        AlertService.HideAlertEvent -= HideAlert;
        NavigationManager.LocationChanged -= LocationChanged;
    }

    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        AlertService.HideAllAlerts();
    }

    void ShowAlert(string message, AlertType alertType)
    {
        switch (alertType)
        {
            case AlertType.Error:
                showErrorAlert = true;
                errorMessage = message;
                break;
            case AlertType.Info:
                showInfoAlert = true;
                infoMessage = message;
                break;
            case AlertType.Success:
                showSuccessAlert = true;
                successMessage = message;
                break;
            default:
                throw new ArgumentOutOfRangeException(nameof(alertType), alertType, null);
        }
        StateHasChanged();
    }

    void HideAlert(AlertType alertType)
    {
        switch (alertType)
        {
            case AlertType.Error:
                showErrorAlert = false;
                break;
            case AlertType.Info:
                showInfoAlert = false;
                break;
            case AlertType.Success:
                showSuccessAlert = false;
                break;
            default:
                throw new ArgumentOutOfRangeException(nameof(alertType), alertType, null);
        }
        StateHasChanged();
    }
}