﻿<style>
    .login{
        justify-content: flex-end;
        display: flex;
        align-items: center;
    }
    
    .nav_container{
        padding-left: 48px;
        padding-right: 48px;
        background-color: #f7f7f7;
    }
    
    .nav-item a{
        display: block;
        border-radius: 8px;
        margin-left: 4px;
    }
    
    .nav-item a:hover{
        background-color: #e0e0e0!important;
    }
    
    .nav-item a.active {
        background-color: #e0e0e0;
    }
    
    @@media (max-width: 800px) {
        .nav_container{
            padding-left: 16px;
            padding-right: 16px;
        }
    
        .nav-item a{
            padding: 16px;
        }
    }
</style>

<nav class="navbar  fixed-top navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow nav_container mb-3">
    <a class="navbar-brand" href="">PH03NIX APP</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="navbar-nav flex-grow-1 mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/conversations">
                            <span class="oi oi-envelope-closed" aria-hidden="true"></span> Conversations
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
        </ul>
        <div class="login">
            <LoginDisplay/>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}