@page "/conversations"
@page "/conversations/{ConversationId}"
@using BlazorShared.Contracts.V1

@inject ConversationService ConversationService
@inject EventBus EventBus
@attribute [Authorize]

<PageTitle>Conversations</PageTitle>

<style>
    /* Reset some default styles */
    body, ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .menu {
        background-color: #333;
        color: white;
        width: 20%;
        padding: 20px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
    }
    
    ul{
        margin-top: 80px;    
    }
    .menu ul {
        padding: 0;
    }
    
    .menu li {
        margin-bottom: 10px;
    }
    
    .menu a {
        color: white;
        text-decoration: none;
    }
    .content {
        flex-grow: 2;
        margin-top: -20px;
        padding: 20px;
    }
    
    .cont{
        display: flex;
    }
    
    .search_bar{
        background-color: red;
        display: block;
         margin-left: 22.5%;
        margin-right: 16px;
 
    }
    
    .conversation{
        margin-top: 24px;
       margin-left: 22%;
    }
    
    .name_preview{
        font-size: 16px;
    }
        .date_preview {
            font-size: 14px;
            margin-bottom: 5px;
            border-bottom: 1px white solid;
        }
        
        .content_preview {
        font-size: 13px;
            font-style: italic;
        }
        
    .conversation_preview{
        padding: 8px 12px;
        border-radius: 5px;
    }
      .conversation_preview:hover{
         background-color: #555;
         cursor: pointer;
      }
       
</style>

<section class="cont">
    <nav class="menu">
        <ul>
            <Virtualize TItem="ConversationDTO" Items="Conversations">
                <ItemContent>
                    <article class="conversation_preview mb-1" @onclick="@(() => OpenConversation(context))">
                        <div class="name_preview">@context.Name</div>
                        <div class="date_preview">@context.Messages.FirstOrDefault()?.CreationDate.ToLocalTime().ToString("f")</div>
                        <div class="content_preview">@(context.Messages.FirstOrDefault()?.CreatedBy): @(new string(context.Messages.FirstOrDefault()?.Content.Take(46).ToArray()))</div>
                    </article>
                </ItemContent>
                <Placeholder>
                    <p>
                        Please wait.
                    </p>
                </Placeholder>
            </Virtualize>
        </ul>
    </nav>
    <div class="content">
        <div class="search_bar">
            <SearchUserComponent></SearchUserComponent>
        </div>
        <div class="conversation">
            <ConversationComponent ConversationId="conversationId" NewMessageAppered="NewMessageAppeared"></ConversationComponent>
        </div>
    </div>
</section>

@code
{
    [Parameter]
    public string ConversationId { get; set; }

    long conversationId;

    private ICollection<ConversationDTO> Conversations = new List<ConversationDTO>();

    protected override async Task OnInitializedAsync()
    {
        Conversations = (await ConversationService.GetLastConversations())?.ToList() ?? new List<ConversationDTO>();
        EventBus.NewDirectMessage += NewMessageAppeared;
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if (long.TryParse(ConversationId, out long id))
            conversationId = id;
    }
    
    private void NewMessageAppeared(DirectMessageDTO directMessageDto)
    {
        var toUpdate = Conversations.FirstOrDefault(x => x.Id == directMessageDto.ConversationId);


        if (toUpdate is null)
        {
            _ = AddNewConversation(directMessageDto.ConversationId);
            return;
        }

        toUpdate.Messages.Clear();
        toUpdate.Messages.Add(directMessageDto);

        Conversations = Conversations
            .OrderByDescending(x => 
                x.Messages.OrderByDescending(x => x.CreationDate).FirstOrDefault()?.CreationDate)
            .ToList();
        
        StateHasChanged();
    }

    private async Task AddNewConversation(long conversationId)
    {
        var conversation = await ConversationService.GetConversation(conversationId);
        if (conversation is null)
            return;
        conversation.Messages = new List<DirectMessageDTO>() {conversation.Messages.OrderByDescending(x => x.CreationDate).First()};
        Conversations.Add(conversation);
        
        Conversations = Conversations
            .OrderByDescending(x => 
                x.Messages.OrderByDescending(x => x.CreationDate).FirstOrDefault()?.CreationDate)
            .ToList();
        
        Conversations.Remove(Conversations.ToList()[Conversations.Count() - 1]);
    }

    private void OpenConversation(ConversationDTO conversationDto)
    {
        conversationId = conversationDto.Id;
    }
}