﻿@page "/"
@using BlazorShared.Contracts.V1

@inject PublicMessageService PublicMessageService
@inject EventBus EventBus

<PageTitle>Public messages</PageTitle>

<style>
    .message_box {
        position: fixed;
        bottom: 0;
        background-color: white;
        min-height: 190px;
        width: 100%;
        max-width: inherit;
    }

    .messages-panel {
        overflow-y: hidden;
        padding-bottom: 190px;
        width: 100%;
    }
  
</style>

<div class="container-md">

    <h1>Public messages</h1>

    <div class="messages-panel">
        <Virtualize Context="context" Items="@publicMessages">
            <ItemContent>
                <MessageComponent Message="context"></MessageComponent>
            </ItemContent>
            <Placeholder>
                <p>
                    Please wait.
                </p>
            </Placeholder>
        </Virtualize>
        
        @if (!maxPage)
        {
            <button type="button" class="btn btn-primary px-3 py-2 mb-3" onclick="@GetNextPage">Download more</button>
        }
        else
        {
            <p>You reached the end of data</p>
        }
    </div>


    <div class="py-4 message_box">
        <AuthorizeView>
            <Authorized>
                <SendPublicMessageComponent @ref="messageInputComponent"></SendPublicMessageComponent>
            </Authorized>
            <NotAuthorized>
                <p>Log in in order to send a message.</p>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code{
    private List<PublicMessageDTO> publicMessages = new List<PublicMessageDTO>();
    SendPublicMessageComponent? messageInputComponent;
    int pageNum = 1;
    int pageSize = 5;
    bool maxPage = false;

    protected override async Task OnInitializedAsync()
    {
        publicMessages = (await PublicMessageService.GetPublicMessages(pageNum, pageSize)).ToList() ?? new List<PublicMessageDTO>();
        EventBus.NewPublicMessage += OnMessageSent;
    }
    

    private async Task GetNextPage()
    {
        pageNum++;
        var resp = (await PublicMessageService.GetPublicMessages(pageNum, pageSize)).ToList();
        if (resp is null || !resp.Any())
        {
            maxPage = true;
            return;
        }
        if (resp.Count() < pageSize)
            maxPage = true;

        publicMessages.AddRange(resp);
    }

    private void OnMessageSent(PublicMessageDTO message)
    {
        Task.Run(async () =>
        {
            Console.WriteLine("NEW MESSAGE");
            publicMessages.Insert(0, message);
            StateHasChanged();
        });
    }

}