@page "/authentication/login"
@page "/authentication/login/{RedirectionMessage}"
@using Microsoft.AspNetCore.Authorization
@using BlazorShared.Contracts.V1

@inject AuthService AuthService;
@inject NavigationManager NavigationManager;
@inject AlertService AlertService;
@attribute [AllowAnonymous]

<style>
    .form-group-main{
        margin-bottom: 12px;
    }
    
    .form-control-main{
        margin-top: 8px;
    }
    
    .form-group-inline{
        margin-right: 8px;
    }
    
    .inline_form{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
</style>

@if (!Inline)
{
    <article class="container-md">
        <h1>Log in into your account</h1>

        <EditForm Model="loginModel" OnValidSubmit="LoginExecute">
            <DataAnnotationsValidator/>
            <div class="form-group form-group-main">
                <label for="username">Username</label>
                <InputText id="username" class="form-control form-control-main" placeholder="Username" @bind-Value="loginModel.Username"></InputText>
                <ValidationMessage For="@(() => loginModel.Username)"/>
            </div>
            <div class="form-group form-group-main">
                <label for="password">Password</label>
                <InputText id="password" type="password" class="form-control form-control-main" placeholder="Password" @bind-Value="loginModel.Password"></InputText>
                <ValidationMessage For="@(() => loginModel.Password)"/>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </EditForm>
    </article>
}
else
{
    <EditForm Model="loginModel" OnValidSubmit="LoginExecute" class="inline_form">
        <DataAnnotationsValidator/>
        <div class="form-group form-group-inline">
            <label for="username" class="visually-hidden">Username</label>
            <InputText id="username" class="form-control" placeholder="Username" @bind-Value="loginModel.Username"></InputText>
        </div>
        <div class="form-group form-group-inline">
            <label for="password" class="visually-hidden">Password</label>
            <InputText id="password" type="password" class="form-control" placeholder="Password" @bind-Value="loginModel.Password"></InputText>
        </div>
        <button type="submit" class="btn btn-primary" style="max-height: 40px;">Login</button>
    </EditForm>
}

@code {

    [Parameter]
    public bool Inline { get; set; } = false;

    [Parameter]
    public string? RedirectionMessage { get; set; }

    private LoginModel loginModel = new();

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrWhiteSpace(RedirectionMessage))
            AlertService.ShowAlert(RedirectionMessage, AlertType.Info);
    }

    private async Task LoginExecute()
    {
        AlertService.HideAllAlerts();

        var result = await AuthService.Login(loginModel);

        if (result.statusCode == 200)
            NavigationManager.NavigateTo("/");
        else
        {
            if(result.response is not null)
                AlertService.ShowAlert(result.response.Detail, AlertType.Error);
            else
                AlertService.ShowAlert("Unknown error. Check your internet connection or try again later.", AlertType.Error);
        }
    }
}