@page "/authentication/register"
@using BlazorShared.Contracts.V1

@inject UserService UserService
@inject NavigationManager NavigationManager
@inject AlertService AlertService

<style>
    .form-group-main{
        margin-bottom: 12px;
    }
    
    .form-control-main{
        margin-top: 8px;
    }
</style>

<article class="container-md">
    <h1>Sign up to start using application!</h1>
    
    <EditForm Model="registerModel" OnValidSubmit="RegisterExecute">
        <DataAnnotationsValidator/>
        
        <div class="form-group form-group-main">
            <label for="username">Username</label>
            <InputText id="username" class="form-control form-control-main" placeholder="Username" @bind-Value="registerModel.Username"></InputText>
            <ValidationMessage For="@(() => registerModel.Username)"/>
        </div>
        
        <div class="form-group form-group-main">
            <label for="email">Email</label>
            <InputText id="email" type="email" class="form-control form-control-main" placeholder="Email" @bind-Value="registerModel.Email"></InputText>
            <ValidationMessage For="@(() => registerModel.Email)"/>
        </div>
        
        <div class="form-group form-group-main">
            <label for="password">Password</label>
            <InputText id="password" type="password" class="form-control form-control-main" placeholder="Password" @bind-Value="registerModel.Password"></InputText>
            <ValidationMessage For="@(() => registerModel.Password)"/>
        </div>
        
        <div class="form-group form-group-main">
            <label for="confirm_password">Confrim password</label>
            <InputText id="confirm_password" type="password" class="form-control form-control-main" placeholder="Confirm password" @bind-Value="registerModel.ConfirmPassword"></InputText>
            <ValidationMessage For="@(() => registerModel.ConfirmPassword)"/>
        </div>
        
        <button type="submit" class="btn btn-primary">Sign up</button>
    </EditForm>
</article>

@code {
    private CreateUserModel registerModel = new();

    private async Task RegisterExecute()
    {
        //hide previous messages
        AlertService.HideAllAlerts();
        
        var result = await UserService.SingUp(registerModel);

        if (result.success)
        {
            AlertService.ShowAlert(result.message, AlertType.Success);
            NavigationManager.NavigateTo("/authentication/login/You have been registered!");
        }
        else
        {
            AlertService.ShowAlert(result.message, AlertType.Error);
        }
    }
}