@page "/user/details"
@using BlazorShared.Contracts.V1

@inject UserService UserService
@attribute [Authorize]

<style>
    .form-group-main {
        margin-bottom: 12px;
    }

    .form-control-main {
        margin-top: 8px;
    }
</style>

<PageTitle>User details</PageTitle>

<article class="container-md">
    <div class="jumbotron">
        <h1 class="display-4">Hello @currentUser.Username</h1>
        <p class="lead">Below you can see and edit your account details.</p>
        <hr class="my-4">
    </div>

    <EditForm Model="currentUser">
        <DataAnnotationsValidator />

        <div class="form-group form-group-main">
            <label for="username">Username</label>
            <InputText id="username" class="form-control form-control-main" disabled="true" placeholder="Username" @bind-Value="currentUser.Username"></InputText>
            <ValidationMessage For="@(() => currentUser.Username)" />
        </div>

        <div class="form-group form-group-main">
            <label for="email">Email</label>
            <InputText id="email" type="email" class="form-control form-control-main" disabled="true" placeholder="Email" @bind-Value="currentUser.Email"></InputText>
            <ValidationMessage For="@(() => currentUser.Email)" />
        </div>

    </EditForm>

    <SessionsComponent />
</article>

@code
{
    private UserDTO currentUser = new();

    protected override async Task OnInitializedAsync()
    {
        currentUser = (await UserService.GetDetails()) ?? new();
    }
}